{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'biologicalquizapp\style.css' %}">
    <link rel="stylesheet" href="{% static 'biologicalquizapp\homeStyle.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static 'registration\css\style.css' %}>
    {% if title %}
        <title>microscoquiz - {{title}}</title>
    {% else %}
        <title>microscoquiz</title>
    {% endif %}
</head>
<body>
    {% block content %}{% endblock  %}
    <script src={% static 'registration\js\main.js' %}></script>
    <script src={% static 'registration\js\jquery.min.js' %} ></script>
    <script src={% static 'registration\js\popper.js' %}></script> 
    <script src={% static 'registration\js\bootstrap.min.js' %}></script>
</body>
</html>