{% extends 'biologicalquizapp\base.html' %}
{% load static %}
{% block mycss %}
    <link rel="stylesheet" href="{% static 'biologicalquizapp\style.css' %}"> 
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock mycss %}
{% block content %}
<!-- start quizz button -->
    <div class="start_btn">
        <button>Start Quiz</button>
    </div>
    <div class="info_box">
        <div class="info_title"><span>Some rules of this quiz</span></div>
        <div class="info_list">
            <div class="info">1. You will have only <span>20 seconds</span> per each question.</div>
            <div class="info">2. Once you select your answer, it can't be undone.</div>
            <div class="info">3. You can't select any option once time goes off.</div>
            <div class="info">4. You can't exit from the Quiz while you're playing.</div>
            <div class="info">5. You'll get points on the basis of your correct answers.</div>
        </div>
        <div class="buttons">
            <button class="quit">Exit button</button>
            <button class="restart">Continue</button>
        </div>
    </div>

    <!-- Quiz box -->
    <div class="quiz_box">
        <header>
            <div class="title">Microscoquiz</div>
            <div class="timer">
                <div class="time_text">Time Left</div>
                <div class="timer_sec">20</div>
            </div>
        </header>
        <section>
            <div class="images">
                {% for image in data.0.images %}
                    <img src="{% static image %}" alt="cell" class="img-option">
                {% endfor %}
            </div>
            <div class="que_text">
                {% comment %} <span>What does HTML stand for?</span> {% endcomment %}
                {{question_2}}
            </div>
            <div class="option_list">
                {% for answer in data.0.answers %}
                    <div class="option" onclick="optionSelected(this)">
                        {% if answer == data.0.correct_answer %}
                            <span>{{answer}}</span>
                            {% comment %} <div class="icon tick"><i class="fas fa-check"></i></div> {% endcomment %}
                        {% else %}
                            <span>{{answer}}</span>
                            {% comment %} <div class="icon cross"><i class="fas fa-times"></i></div> {% endcomment %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- quiz box footer -->
        <footer>
            <div class="total_que">
                <span><p>1</p>of<p>10</p>Questions</span>
            </div>
            <button class="next_btn">Next Question</button>
        </footer>
    </div>

    <!-- Result box --> 
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the quiz!</div>
        <div class="score_text">
            <span>and sorry, You got only <p>2</p> out of <p>5</p></span>
        </div>
        <div class="buttons">
            <button class="restart">Replay Quiz</button>
            <button class="quit">Quit quizz</button>
        </div>
    </div>
    <script>
        var data = {{data | safe}};
        const next_btn = document.querySelector(".next_btn");
        var data_len = data.length;

        next_btn.onclick = () => {
            if (que_count < data_len - 1) {
                que_count++;
                var num_img = data[0]['images'].length;
                showQuestions(que_count, data, num_img);
                queCounter(que_count + 1, data_len);
            } else {
                console.log('question completed');
            }
        }

        function optionSelected(answer) {
            let correct_answer = data[que_count]['correct_answer'];
            let userAnswer = answer.textContent;
            userAnswer = userAnswer.replace(/\n/g, '').trim();
            if (userAnswer === correct_answer) {
                console.log(true);
            } else {
                console.log(false);
            }
        }
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src={% static 'biologicalquizapp\js\script.js' %}></script>
{% endblock content %}