{% extends 'biologicalquizapp\base.html' %}
{% load static %}
{% block content %}
<div class="hero">
        <nav class="nav-home">
            <img src={% static 'biologicalquizapp\MicroscoQuizz.png' %} alt="MicroscoQuiz" class="menu-img">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="">Explore</a></li>
                <li><a href="{% url 'login' %}">SignIn/SignUp</a></li>
            </ul>
        </nav>
        <div class="text-container">
            <div class="content">
                <h1>Microsco<span>Quiz</span></h1>
                <p>A Microscopy test quiz that allows you to learn by practicing</p>
                <button class="started-btn">Get started</button>
            </div>
        </div>
    </div>
{% endblock content %}