{% extends 'biologicalquizapp\base.html' %}
{% load static %}
{% block mycss %}
    <link rel="stylesheet" href="{% static 'biologicalquizapp\style.css' %}"> 
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock mycss %}
{% block content %}
    <div class="choose-type">
        <img src="{% static 'biologicalquizapp\MicroscoQuizz.png' %}" alt="microscoquizimg" class="microscoimg">
        <p class="quiz-type">Choose a Quiz category<p>
    </div>
    <div class="question-chooser">
        {% comment %} <input type="button" class="box" value={{question_1}} onclick="location.href={% url 'microscopy-quiz' %}">
        <input type="button" class="box" value={{question_2}} onclick="location.href={% url 'features-quiz' %}"> {% endcomment %}
        <a class="box" id="microscopy-quiz" href="{% url 'microscopy-quiz' %}">{{question_1}}</a>
        <a class="box" id="feature-quiz" href="{% url 'features-quiz' %}">{{question_2}}</a>
    </div>
    <div class="quit-btn">
        {% comment %} <button class="quit-quiz">Quit quizz</button> {% endcomment %}
        <input type="button" value="Quit quiz" class="quit-quiz" onclick="location.href={% url 'home' %};">
    </div>
    <script src={% static 'biologicalquizapp\js\script.js' %}></script>
{% endblock content %}