/* importinh google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #2596be;
}

.choose-type {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.choose-type .microscoimg {
    position:absolute;
    width: 400px;
    top: -5%;
    left: 35%;  
}

.choose-type .quiz-type {
    color: #fff;
    font-weight: 350;
    font-size: 15px;
    text-decoration: overline;
    position: absolute;
    top: 34%;
    left: auto;
}

.quit-btn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quit-btn .quit-quiz {
    position: absolute;
    top: 80%;
    outline: none;
    border: 1px solid #265478;
    background-color:#265478;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 30px;
    transition: all 0.3s ease;
    /* font-size: 25px; */
}

.quit-btn .quit-quiz:hover {
    transform: scale(1.04) perspective(0.5px);
    border: 1px solid #fbd623;
    background-color: #fbd623;
}

.question-chooser,
.start_btn,
.info_box,
.quiz_box,
.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
                0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.question-chooser {
    box-shadow: none;
    width: 100%;
    top: 55%;
    height: auto;
    /* background-color: #a42834; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.choose-type.deactivate,
.question-chooser.deactivate,
.quit-btn.deactivate {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.box {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 5px;
    outline: none;
    width: 20%;
    padding: 9px;
    height: 145px;
    background: white;
    margin: -20px;
    font-size: 20px;
    color: #2596be;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease-out;
}

.box:hover {
    transform: scale(1.04) perspective(0.5px)
}

@media screen and (max-width:1200px) {
    .box {
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .box {
        width: 90%;
    }
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.start_btn.activeInfo {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1.04);
}

/* start quiz button styling */
.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: #2596be;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.start_btn button:hover {
    transform: scale(1.04) perspective(0.5px)
}

.start_btn {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_box {
    /* display: none; */
    width: 540px;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.images {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.images .img-option {
    width: 235px;
    height: 210px;
    border-radius: 5px;
}

.info_box .info_title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.8)
}

.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span {
    font-weight: 600;
    color: #2596be;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.info_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #2596be;
    /* background: #007bff; */
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart {
    color: #fff;
    background: #2596be;
}

.buttons button.restart:hover {
    border: 1px solid #265478;
    background: #265478;
}

.buttons button.quit:hover {
    color: #fff;
    background: #2596be;
}

.buttons button.quit {
    color: #2596be;
}

.quiz_box {
    /* display: none; */
    width: 800px;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    /* transition: all 0.17s ease-in; */
}

.quiz_box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    /* border: 1px solid black; */
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz_box header .timer .time_text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec {
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box section {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.quiz_box section .que_text {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
}

.quiz_box section .option_list {
    padding: 20px 0;
    display: block;
}

section .option_list .option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
    /* width: 50%; */
}

section .option_list .option:hover {
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;
}

.option_list .option:last-child {
    margin-bottom: 0px;
}

.option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.option_list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross {
    color: #a42834;
    border-color: #a42834;
    background: #f8d7da;
}

.quiz_box footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span {
    display: flex;
    user-select: none;
}

footer .total_que span p {
    font-weight: 500;
    padding: 0 5px;
}

.total_que span p:first-child {
    padding-left: 0px;
}

footer .next_btn {
    height: 40px;
    padding: 0 13px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background: #2596be;
    border-radius: 5px;
    border: 1px solid #2596be;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_btn:hover {
    background: #265478;
}

.result_box {
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* this is to make it disapear, use templates in django */
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon {
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text {
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score_text span p {
    font-weight: 600;
    padding: 0 4px;
}

.result_box .buttons {
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button {
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
}

.nav_bar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100px;
}

.nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_bar li {
    float: right;
}