{% extends 'biologicalquizapp\base.html' %}
{% load static %}
{% block mycss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static 'registration\css\style.css' %}> 
{% endblock mycss %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
<script>
    swal({
        title: "Logout successful!",
        text: "You are successfully logged out",
        icon: "success",
        button: "home page"
    }).then(function() {
        window.location = "{% url 'home' %}";
    });
</script>

{% endblock content %}
